<div class="sidebar-wrap" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="sidebar-content">
        <ul class="sidebar-list">
            <li>
                <a href="javascript:void(0)"><i class="icon-font">&#xe003;</i>常用操作</a>
                <ul class="sub-menu" th:each="menu,menuStat : ${session.zblog_admin_right}">
                    <li>
                        <a href="../blog/list.html" th:href="@{/}+${menu.menuUrl}" target="">
                            <i class="icon-font" th:text="'&#xe008;'">&#xe008;</i>
                            <span th:text="${menu.menuName}" th:remove="tag">管理</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!--<li>-->
                <!--<a href="#"><i class="icon-font">&#xe018;</i>系统管理</a>-->
                <!--<ul class="sub-menu">-->
                    <!--<li><a href="system.html"><i class="icon-font">&#xe017;</i>系统设置</a></li>-->
                    <!--<li><a href="system.html"><i class="icon-font">&#xe037;</i>清理缓存</a></li>-->
                    <!--<li><a href="system.html"><i class="icon-font">&#xe046;</i>数据备份</a></li>-->
                    <!--<li><a href="system.html"><i class="icon-font">&#xe045;</i>数据还原</a></li>-->
                <!--</ul>-->
            <!--</li>-->
        </ul>
    </div>
</div>